main {
  background: none;
}

h1 {
  font-family: var(--font-header);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  color: var(--light);
  text-shadow: 3px 3px 5px var(--dark);
}

h2 {
  grid-column: -1 / 1;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

footer {
  border-top: 1px solid var(--nautral);
}

.main-container {
  position: relative;
  text-align: center;
}

.main-container img {
  filter: brightness(50%);
}
.best-sellers {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.best-sellers img {
  width: 100%;
}

