@media (min-width: 850px) {
  .fa-bars,
  .fa-magnifying-glass {
    display: none !important;
  }

  nav ul {
    display: block;
    grid-column: 1 / 4;
    padding: 20px;
    width: 100%;
    background-image: url("../images/Athena.png");
    background-repeat: repeat;
    text-align: center;
  }

  .nav-bar li {
    display: inline;
    padding: 30px;
  }

  .main-container img {
    height: 600px;
  }
  h1 {
    bottom: 8px;
    left: 16px;
    top: 80%;
    transform: none;
  }

  .login-link {
    display: none;
  }

  /* top bar */

  .top-bar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
  }

  .top-profile,
  .top-icons {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 5px;
  }

  .profile-icon {
    height: 1.3rem;
    font-size: 1.3rem;
    color: var(--primary);
  }
}

@media (min-width: 1100px) {
  footer {
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: start;
    text-align: left;
  }
  .about {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .costumer {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .copyright {
    grid-row: 3;
  }
  .info {
    grid-column: 2 / 4;
    grid-row: 3;
  }
  .sign-up {
    grid-column: 1 / 2;
  }
  .sign-up-form {
    flex-direction: row;
  }
  .signup-button {
    width: 100px;
  }

  /* Living */
  .best-sellers {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1400px) {
  .category-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .spring-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .spring__content {
    grid-column: 3 / 5;
  }
  .spring-container img {
    grid-row: 1;
  }
}
