@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Open+Sans:wght@300;500&display=swap');
@import "import/variables.css";
@import "nav.css";
@import "footer.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
  font-weight: 300;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  background-image: url("../images/Athena.png");
  background-repeat: repeat;
  padding-bottom: 200px;
}

h2 {
  font-family: var(--font-header);
  color: var(--primary);
  font-size: 2.7rem;
}

h3 {
  color: var(--primary);
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

img {
  object-fit: cover;
}

.main-container img {
  width: 100%;
  height: 300px;
}

/* Category  */

.category-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 30px;
}

.category-container h2 {
  grid-column: -1 / 1;
}

.category-container img {
  width: 100%;
  height: 400px;
}

.category__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  margin: -20px;
  font-size: 2rem;
  font-weight: 300;
  background-color: var(--secondary);
  width: 200px;
  text-align: center;
}

/* Spring */
.spring-container {
  background-color: var(--secondary);
  display: grid;
  margin-top: 50px;
  padding: 50px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.spring-container img {
  width: 100%;
  height: 500px;
  grid-row: 2;
}

.spring__content {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 2rem;
  row-gap: 20px;
}

.spring__content p {
  font-size: 1.5rem;
  font-weight: 300;
}

.shop-button {
  background-color: var(--primary);
  color: var(--light);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  width: 200px;
  font-size: 1.4rem;
  font-weight: 500;
}

.top-bar {
  display: none;
}
